.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(10, 20px);
}

.hover {
    animation-name: backgroundColorPalette;
    animation-duration: .25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes backgroundColorPalette {
    0% {
        background: #9055ee;
    }

    100% {
        background: #d7c7f1;
    }

}