:root {
    --base-color: #f1f3f7;
    --supp-color: #fffffe;
    --missed-color: #43aaee;
    --hit-color: #d48429;
    --sunk-color: #d42929;
    --acc3-color: #6290C3;
}

@media (prefers-color-scheme: dark) {
    :root {
        --base-color: #1b1b1b;
        --supp-color: #2b2b2b;
        --missed-color: #43aaee;
        --hit-color: #d48429;
        --sunk-color: #d42929;
        --acc3-color: #6290C3;
    }
}

svg {
    height: 30px;
    width: 30px;
    fill: white;
}

body {
    background-color: var(--base-color) !important;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
}

.hover {
    animation-name: backgroundColorPalette;
    animation-duration: .25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes backgroundColorPalette {
    0% {
        background: #9055ee;
    }

    100% {
        background: #d7c7f1;
    }
}

#direction-changer>h4 {
    position: relative;
    top: 3px;
}

.ship-len-square {
    height: 30px;
    width: 30px;
    margin: 1.5px;
}

.sunk {
    position: relative;
}

.sunk::before {
    z-index: 2;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 85%;
    width: 85%;
    background-color: var(--sunk-color);
    border-radius: 50%;
}

.hit {
    position: relative;
}

.hit::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 70%;
    width: 70%;
    background-color: var(--hit-color);
    border-radius: 100%;
}

.missed {
    position: relative;
}

.missed::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 70%;
    width: 70%;
    background-color: var(--missed-color);
    border-radius: 100%;
}


section {
    transform: 1;
}

.hidden {
    transform: 0;
}

.modal,
modal {
    z-index: 999;
}

.modal-backdrop {
    z-index: 1;
}

strong {
    font-weight: 100 !important;
}

button {
    border: 1.5px solid var(--base-color);
    background-color: var(--supp-color);
    /* margin: 2px !important; */
}

.ship-to-place:last-child {
    font-weight: 700;
    animation-name: activeShipHighlight;
    animation-duration: .25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes activeShipHighlight {
    0% {
        color: #9055ee;
    }

    100% {
        color: #d7c7f1;
    }
}

ul {
    transform: rotate(180deg);
}

ul>li {
    transform: rotate(-180deg);
}